*{
    padding: 0;
    margin: 0;
}
body{
    overflow: hidden;
    /* overflow: auto; */
}
div#wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}


/* scene */
div.scene-container{
    width: 100vw;
    height: auto;
}
div.scene{
    position: relative;
    width: 100vw;
    height: 100vh;
}